/*||IMPORT*/
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

/*||RESET*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: #012;
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  color: whitesmoke;
  font-family: "Rajdhani", sans-serif;
  font-weight: 500;
  font-size: clamp(1rem, 2.5vh, 2.5rem);
  line-height: 1.4;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

a:any-link {
  color: #eeff88;
  text-decoration: none;
  font-weight: bold;
}

button {
  font: inherit;
  padding: 0 10px;
}

/*||MAIN*/
.main_container {
  aspect-ratio: 1 / 2;
  background-color: #011;
  margin: auto;
  max-height: 100vh;
  width: auto;
}

.calculator_display,
.calculator_buttons {
  height: 50%;
}