/*||IMPORT*/
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

/*||RESET*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: #012;
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  color: whitesmoke;
  font-family: "Rajdhani", sans-serif;
  font-weight: 500;
  font-size: clamp(1rem, 2vh, 2.5rem);
  line-height: 1.4;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

a:any-link {
  color: #eeff88;
  text-decoration: none;
  font-weight: bold;
}

button {
  font: inherit;
  padding: 0 10px;
}

/*||MAIN*/
.main_container {
  aspect-ratio: 1 / 2;
  background-color: #011;
  margin: auto;
  max-height: 1280px;
  height: 100vh;
  width: auto;
}

.calculator_display,
.calculator_buttons {
  height: 50%;
  max-width: 640px;
}

/*||DISPLAY*/
.calculator_display {
  display: flex;
  flex-direction: column;
  justify-content: end;
  line-height: 1;
  padding: 0 1.2em 2.4em;
  text-align: end;
}

.expression {
  font-size: 2em;
}

.display {
  border-bottom: 2px solid #333;
  font-size: 4em;
}

.result,
.error {
  opacity: 0.5;
}

.error {
  font-size: 2.5em;
}

.result::before {
  content: '=';
  margin-right: 0.2em;
}

/*||BUTTONS*/
.calculator_buttons {
  align-content: space-between;
  display: flex;
  flex-wrap: wrap;
  gap: 0.9em;
  justify-content: space-between;
  padding: 0 1.2em 2.4em;
}

button {
  background: none;
  border: none;
  border-radius: 50%;
  box-shadow: none;
  color: inherit;
  font-size: 2em;
  height: 2em;
  outline: none;
  width: 2em;
}

.operators,
.equal {
  font-family: Verdana, Tahoma, sans-serif;
}

.operators[value='*']::after {
  content: '\2715';
}

.operators[value='/']::after {
  content: '\00f7';
}

.theme::after {
  content: '\2699';
}

.delete::after {
  content: '\2A3B';
}

.delete {
  transform: rotate(270deg);
}

.equal {
  background-color: #ff8822;
}

.operators,
.clear,
.delete,
.percentage,
.theme {
  color: #ff8822;
}