/*||IMPORT*/
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

/*||VARIABLES*/
:root {
  /*Color*/
  --BGCOL: #001224;
  --FNCOL: #f9faf8;
  --LKCOL: #eeff88;
  --A1COL: #ff8822;
  --A2COL: hsla(26, 45%, 90%, 0.2);
  --OPCOL: hsla(200, 50%, 25%, 0.2);
  --GDCOL: linear-gradient(90deg,
      hsl(210, 100%, 7%)0%,
      hsl(210, 100%, 10%)50%,
      hsl(210, 100%, 7%)100%);
}

/*||RESET*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--BGCOL);
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background: var(--GDCOL);
  color: var(--FNCOL);
  font-family: "Rajdhani", sans-serif;
  font-weight: 500;
  font-size: clamp(1rem, 2vh, 2.5rem);
  line-height: 1.4;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

a:any-link {
  color: var(--LKCOL);
  text-decoration: none;
  font-weight: bold;
}

button {
  font: inherit;
  padding: 0 10px;
}

/*||MAIN*/
.main_container {
  aspect-ratio: 1 / 2;
  background-color: var(--OPCOL);
  border-radius: 30px;
  border: 2px solid var(--A1COL);
  box-shadow: 0px 0px 10px 2px hsla(28, 100%, 57%, 0.75);
  height: 100vh;
  margin: auto;
  max-height: 1280px;
  width: auto;
}

.calculator_display,
.calculator_buttons {
  height: 50%;
  max-width: 640px;
}

/*||DISPLAY*/
.calculator_display {
  display: flex;
  flex-direction: column;
  justify-content: end;
  line-height: 1;
  padding: 0 1.2em 2.4em;
  text-align: end;
}

.expression {
  font-size: 2em;
}

.display {
  border-bottom: 2px solid var(--A2COL);
  font-size: 4em;
}

.result,
.error {
  opacity: 0.5;
}

.error {
  font-size: 2.5em;
}

.result::before {
  content: '=';
  margin-right: 0.2em;
}

/*||BUTTONS*/
.calculator_buttons {
  align-content: space-between;
  display: flex;
  flex-wrap: wrap;
  gap: 0.9em;
  justify-content: space-between;
  padding: 0 1.2em 2.4em;
}

button {
  background: none;
  border-radius: 50%;
  border: none;
  box-shadow: none;
  color: inherit;
  cursor: pointer;
  font-size: 2em;
  height: 2em;
  outline: none;
  transition: background-color 0.25s;
  width: 2em;
}

button:active:not(.equal, .theme) {
  background-color: var(--OPCOL);
  filter: brightness(1.75);
}

.operators,
.equal {
  font-family: Verdana, Tahoma, sans-serif;
}

.operators[value='*']::after {
  content: '\2715';
}

.operators[value='/']::after {
  content: '\00f7';
}

.theme::after {
  content: '\2699';
}

.delete::after {
  content: '\2A3B';
}

.delete {
  transform: rotate(270deg);
}

.equal {
  background-color: var(--A1COL);
  transition: scale 0.5s;
}

.equal:active {
  scale: 0.9;
}

.operators,
.clear,
.delete,
.percentage,
.theme {
  color: var(--A1COL);
}

.theme {
  transition: scale 0.25s;
}

.theme:active {
  scale: 1.1;
}